<%= form_for(answer, url: answer_path) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="input-field col s12" style="height: 500px;">
    <%= f.cktext_area :description, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, required: "", rows: 30 %>
  </div>

  <button class="btn waves-effect waves-light right" type="submit" name="action"><%= f.submit "Post" %></button>



<% end %>
