<% content_for :heading do %>
	<a style="text-decoration:none;" href="/askrec">AskREC</a>
<% end %>

<style>
.comment ul li {
  list-style-type: disc !important;
}
</style>

<div class="container-fluid" style="min-height: 100%;">
<div class="row">
	<div class="col s12 l8">
	    <h4><%= @question.title %></h4>

	    <% @tags.each do |tag| %>
	    	<a id="tag-<%= tag.id %>" href='/askrec/questions/tags/<%= tag.name %>' ><span class="new badge" data-badge-caption=""><%= tag.name %></span></a>
    	<% end %>
		<br><hr />
	    <h6 class="text-left"><%= @question.description.html_safe %></h6>
		<div class="row">
			<div class="col s11">
				<b style="float: right;"><%= link_to link_to @question.user.nickname, users_path(User.find(@question.user_id).nickname) %></b><br>
				<% if @question.user.name %>
					<i style="color: #bdbdbd; float: right;"><%= @question.user.name %></i>
				<% end %>
			</div>
			<div class="col s1">
				<%= link_to link_to image_tag(User.find(@question.user_id).image_url, size: "45x45", class: 'circle', alt: User.find(@question.user_id).nickname), users_path(User.find(@question.user_id).nickname) %>
			</div>
		</div><hr>
		<div class="row">
			<% if current_user %>
				<div class="question_id" id='<%= @question.id %>'></div>
				<div class="follow_status" id='<%= current_user.already_followed(@question) %>'></div>
				<div id='upvote_downvote'>
					<button class='btn waves-effect' style="background-color: #0097a7;" id='showAnswerForm'>Answer</button>

					<% if current_user != @question.user %>

					<% if current_user.already_followed(@question) %>

						<button class='btn waves-effect waves-light' style="background-color: #0097a7" id='followButton'>Unfollow</button>

					<% else %>

						<button class='btn waves-effect waves-light' style="background-color: #0097a7" id='followButton'>Follow</button>

					<% end %>

					<% end %>
					<span class="new badge" data-badge-caption="" style="float: right; margin-top: 15px; margin-right: 5px;"><span class="follow_count"><%= @question.follows.count %> Followers</span></span>
				</div>
			<% else %>
				<h7 class="text-darken-1">Please <em><a class="modal-trigger" data-toggle="modal" href="#modal1" >Log in</a></em> to answer</h7>
			<% end %>
		</div>

		<div id ='answerForm'>
			  <br />
			  <h7 class="text-darken-1"><em>Note: Your answer should not be too short.</em></h7>
				<h7 class="text-darken-2" id="note"><em> Please wait a few seconds for the editor to load</em></h7>
			  <br />
			<%= form_for(@answer, url: answer_path) do |f| %>
				<% if @answer.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
						<ul>
							<% answer.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="input-field">
					<%= f.cktext_area :description, id: "answerText" ,:as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'mini'}}, required: ""%>
				</div>
				<br />
				<button style="background-color: #0097a7" class="btn waves-effect right" type="submit" name="action" id="answerButton"><%= f.submit "Post" %></button><br><br>
			<% end %>
			<h7 class="text-darken-2" id="warningNote"><em> Please make sure the answer is not too short</em></h7>
		</div>
		<br />

		<% if @answers.any? %>
			<h4><%= @answers.count %> Answer<% if @answers.count > 1 %>s<% end %></h4>
		<% end %>
		<div class="divider"></div>
		<% if @answers.any? %>
			<% @answers.each do |answer| %>
				<div class="comment">
					<div class="row">
						<div class="col s2 m1">
							<%= link_to image_tag(User.find(answer.user_id).image_url, size: "50x50", class: 'circle', alt: User.find(answer.user_id).nickname), users_path(User.find(answer.user_id).nickname) %>
						</div>
						<div class="col s10 m11">
							<b><%= link_to User.find(answer.user_id).nickname, users_path(User.find(answer.user_id).nickname) %></b>
							<b style="float: right;"><%= answer.created_at.strftime('%H:%M, %b %d') %></b><br>
							<% if User.find(answer.user_id).name %>
								<i><%= User.find(answer.user_id).name %></i>
							<%end %>
						</div>
						<div class="col s12" id="answer-description-<%= answer.id %>">
							<h4><%= raw(answer.description) %></h4>
						</div>
						<div class="col s12" id="edit-answer-description-<%= answer.id %>">
							<br />
							<%= form_for(answer) do |f| %>
							<%= f.cktext_area :description ,:as => :ckeditor, id: "edit-answer-box-#{answer.id}" , input_html: {:ckeditor => {:toolbar => 'mini'}}, required: ""%>
							<br />
							<button class='btn waves-effect updateAnswer' style="float: right; background-color: #0097a7" id='update-answer-<%= answer.id %>'>Update</button>
							<button class='btn waves-effect cancelUpdateAnswer' style="float: right; background-color: #0097a7; margin-right: 10px" id='cancel-update-answer-<%= answer.id %>'>Cancel</button>
							
							<% end %>
							<br />
							<h7 class="text-darken-2" id="editWarningNote-<%= answer.id %>" style="color: #f44336"><em> Please make sure the answer is not too short</em></h7>
						</div>

						<% if current_user and answer.user != current_user %>
						<div class="upvote_status-answer-<%= answer.id %>" id='<%= current_user.already_upvoted(answer) %>'></div>
						<span class="new badge" data-badge-caption="" style="float: right; margin-top: 15px;"><span class="upvote_count-answer-<%= answer.id %>"><%= answer.upvotes.count %> Upvotes</span></span>
						<% if current_user and current_user.already_upvoted(answer) %>
							<button class='btn waves-effect upvoteAnswer' style="float: right; background-color: #0097a7" id='answer-<%= answer.id %>'>Downvote</button>
						<% else %>
							<button class='btn waves-effect upvoteAnswer' style="float: right; background-color: #0097a7" id='answer-<%= answer.id %>'>Upvote</button>
						<% end %>

						<% elsif current_user and answer.user == current_user %>
							<span class="new badge" data-badge-caption="" style="float: right; margin-top: 15px;"><%= answer.upvotes.count %> Upvotes</span>
							<button class='btn waves-effect editAnswer' style="float: right; background-color: #0097a7" id='edit-answer-<%= answer.id %>'>Edit</button>
						<% else %>
							<span class="new badge" data-badge-caption="" style="float: right; margin-top: 0px;"><%= answer.upvotes.count %> Upvotes</span>
						<% end %>

						
					</div>
					<div class="divider"></div>
				</div>
			<% end %>
		<% else %>
			<h4 style="text-align: center; color: #d1d1d1; margin: 100px 0px;">No Answer to this question yet</h4>
		<% end %>
	</div>

	<div class="col s10 offset-s1 l4">

		<div class="card" style="overflow: auto; min-height: 150px; max-height: 700px;">
			<div class="text-center">
				<h5>Comments</h5>
			</div>
			<% if current_user %>
				<div class="row">
				  	<div class="input-field col s10">
					  	<textarea placeholder="Add a comment" id="commentForm" class="material-textarea"></textarea>
					</div>
					<div id="commentStatus"></div>
					<div class="col s2" style="margin-top: 4em;">
						<button style="background-color: #0097a7;" class="btn-floating" id="commentButton"><i class="material-icons">send</i></button>
					</div>
				</div>
			<% end %>

			<div id="commentSection">
				<% if @comments.any? %>
					<% @comments.each do |comment| %>
						<div class="comment">
							<div class="row">
								<div class="col s12">
									<% if current_user and current_user.id == comment.user_id %>
										<b><%= "You" %></b>
									<% else %>
										<b><%= link_to User.find(comment.user_id).nickname, users_path(User.find(comment.user_id).nickname) %></b>
										<% if User.find(comment.user_id).name %>
											<i>(<%= User.find(comment.user_id).name %>)</i>
										<% end %>
									<% end %>
									<b style="float: right;"><%= comment.created_at.strftime('%H:%M, %b %d') %></b>
								</div>
								<div class="col s12">
									<p style="word-wrap: break-word;"> <%= comment.body %> </p>
								</div>
							</div>
							<div class="divider"></div>
						</div>
					<% end %>
				<% else %>
					<h5 style="text-align: center; color: #d1d1d1;" id='no-comment-message'>No Comments yet</h5>
				<% end %>
			</div>
		</div>
		<br />
		<% if current_user && ( current_user.admin? || current_user.member? ) %>
		<h5><em>Special Admin Rights</em></h5>
			<h7 class="text-darken-1"><em>Kindly refresh the page to observe changes if any.</em> 
				<a id="refresh"><i class="material-icons">refresh</i></a>
			</h7>
			<hr />
			<div id="editTagSection" class="row">
				<h5>Edit existing tags</h5>
				<% @tags.each do |tag| %>
					<div class="input-field col s10">
            			<input id="edit-<%= tag.id %>" type="text" value="<%= tag.name %>">
            		</div>
            		<div class="input-field col s2" style="margin-top: 2em;">
            			<a class="changeTag" href=""><i id="<%= tag.id %>" class="material-icons">done</i></a>
      				</div>
				<% end %>	
			</div>
			<div id="addTagSection" class="row">
				<h5>Add a new tag</h5>
				<h7><em>Press the icon only once</em></h7>
				<div class="input-field col s10">
					<input id="add-tag" type="text" placeholder="Enter a new tag">
				</div>
				<div class="input-field col s2" style="margin-top: 2em;">
					<a class="addTag" href=""><i class="material-icons">build</i></a>
				</div>
			</div>
		<% end %>
		
	</div>
</div>
</div>

<script>
$(document).ready(function(){

  $('[id^="editWarningNote"]').hide();
  $('[id^="edit-answer-description"]').hide();

  setTimeout(function(){
     $('#note').fadeOut();
  }, 5000);

  $(".changeTag").click( function(event) {
  
  	event.preventDefault();
  	var oldTag = $(event.target).attr("id");
  	//console.log(oldTag);
  	var id_finder = '#edit-'+oldTag;
  	var newTag = $(id_finder).val();
  	//console.log(newTag);
  	var id = $(".question_id").attr("id");
  	//console.log(id);

  	if(newTag.length < 1){
  		return;
  	}

    $.ajax({
   		type: "GET",
    	url: "/edit_tag",
    	data: {"old_tag": oldTag, "new_tag": newTag, "q_id": id},
        success: function(result){
        },
	});

  });

  $('#refresh').click(function() {
    location.reload();	
  });

  $(".addTag").click( function(event) {
  	event.preventDefault();
  	var newTag = $("#add-tag").val();
  	//console.log(newTag)
  	var id = $(".question_id").attr("id");	
  	
  	if(newTag.length < 1){
  		return;
  	}

  	$.ajax({
  		type: "GET",
  		url: "/add_tag",
  		data: {"name": newTag, "q_id": id},
  		success: function(result){

  		},
  	});

  })


  	$(".editAnswer").click(function(event) {
  		event.preventDefault();
		var id = $(this).attr("id");
		console.log(id);
		var answerId = parseInt(id.match(/\d+/)[0]);
		console.log(answerId);
		var descId = '#answer-description-'+answerId.toString();
		console.log(descId);
		$(descId).hide();
		var editDescId  = '#edit-answer-description-'+answerId.toString();
		console.log(editDescId);
		$(editDescId).show();
		$(this).hide();

  	})

  	$(".updateAnswer").click(function(event) {
  		event.preventDefault();
  		var id = $(this).attr("id");
		console.log(id);
		var answerId = parseInt(id.match(/\d+/)[0]);
		console.log(answerId);

		var editor_id = 'edit-answer-box-'+answerId.toString();
		var e = CKEDITOR.instances[editor_id];
  		var dat = e.getData();
  		console.log(dat);
		
		var editNote = '#editWarningNote-'+answerId.toString();

		if( dat.length < 70 || /^[\s]*$/.test(dat) == true){
		  	$(editNote).show();
			setTimeout(function(){
  			   $(editNote).fadeOut();
			}, 1000);
	 	    return;			
		}

		$.ajax({
	  		type: "POST",
	  		url: "/edit_answer",
	  		data: {"id": answerId, "description": dat},
	  		success: function(result){
	  			location.reload();
	  		},
	  		error: function(){
	  			alert('Something went wrong!!');
	  		}
  		});
	
  	})

  	$(".cancelUpdateAnswer").click(function(event) {
  		event.preventDefault();
  		var id = $(this).attr("id");
		var answerId = parseInt(id.match(/\d+/)[0]);
		var editDescId  = 'edit-answer-description-'+answerId.toString();
		var elem = document.getElementById(editDescId);
		elem.style.display = "none";
		var descId = '#answer-description-'+answerId.toString();
		$(descId).show();
		var editButtonId = '#edit-answer-'+answerId.toString();
		$(editButtonId).show();
  	})

});

</script>
