<% content_for :heading do %>
	AskREC
<% end %>

<div class="container-fluid" style="min-height: 100%;">

	<div class="col s12 m8 l8">
	    <h4><%= @question.title %></h4>
	    
	    <% @tags.each do |tag| %>
	    	<span class="new badge" data-badge-caption=""><a href='/askrec/questions/tags/<%= tag.name %>' ><%= tag.name %></a></span>
    	<% end %>
		<br><hr />
	    <h6 class="text-left"><%= @question.description.html_safe %></h6>
		<div class="row">
			<div class="col s11">
				<b style="float: right;"><%= link_to @question.user.name, users_path(User.find(@question.user_id).nickname) %></b><br>
				<i style="color: #d1d1d1; float: right;"><%= User.find(@question.user_id).nickname %></i>
			</div>
			<div class="col s1">
				<%= link_to link_to image_tag(User.find(@question.user_id).image_url, size: "45x45", class: 'circle'), users_path(User.find(@question.user_id).nickname) %>
			</div>
		</div><hr>
		<div class="row">
			<% if current_user %>
				<div class="question_id" id='<%= @question.id %>'></div>	
				<div class="follow_status" id='<%= current_user.already_followed(@question) %>'></div>	
				<div id='upvote_downvote'>
					<button class='btn waves-effect' style="background-color: #0097a7;" id='showAnswerForm'>Answer</button>	

					<% if current_user != @question.user %>
			
					<% if current_user.already_followed(@question) %>

						<button class='btn waves-effect waves-light' style="background-color: #0097a7" id='followButton'>Unfollow</button>

					<% else %>

						<button class='btn waves-effect waves-light' style="background-color: #0097a7" id='followButton'>Follow</button>

					<% end %>

					<% end %>
					<span class="new badge" data-badge-caption="" style="float: right; margin-top: 15px; margin-right: 5px;"><span class="follow_count"><%= @question.follows.count %> Followers</span></span>			
				</div>
			<% else %>
				<p>Please Log In to Answer</p>
			<% end %>
		</div>

		<div id ='answerForm'>
			<%= form_for(@answer, url: answer_path) do |f| %>
				<% if @answer.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
						<ul>
							<% answer.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="input-field">
					<%= f.cktext_area :description, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'mini'}}, required: "" %>
				</div>
				<br />
				<button style="background-color: #0097a7" class="btn waves-effect right" type="submit" name="action"><%= f.submit "Post" %></button><br><br>
			<% end %>
		</div>
		<br />

		<% if @answers.any? %>
			<h4><%= @answers.count %> Answer<% if @answers.count > 1 %>s<% end %></h4>
		<% end %>
		<div class="divider"></div>
		<% if @answers.any? %>
			<% @answers.each do |answer| %>
				<div class="comment">
					<div class="row">
						<div class="col sm2 l1">
							<%= link_to image_tag(User.find(answer.user_id).image_url, size: "50x50", class: 'circle'), users_path(User.find(answer.user_id).nickname) %>
						</div>
						<div class="col sm10 l11">
							<b><%= link_to User.find(answer.user_id).name, users_path(User.find(answer.user_id).nickname) %></b>
							<b style="float: right;"><%= answer.created_at.strftime('%H:%M, %b %d') %></b><br>
							<i><%= User.find(answer.user_id).nickname %></i>
						</div>
						<div class="col s12">
							<h4><%= raw(answer.description) %></h4>
						</div>

						<% if current_user and answer.user != current_user %>
						<div class="upvote_status-answer-<%= answer.id %>" id='<%= current_user.already_upvoted(answer) %>'></div>
						<span class="new badge" data-badge-caption="" style="float: right; margin-top: 15px;"><span class="upvote_count-answer-<%= answer.id %>"><%= answer.upvotes.count %> Upvotes</span></span>
						<% if current_user and current_user.already_upvoted(answer) %>
							<button class='btn waves-effect upvoteAnswer' style="float: right; background-color: #0097a7" id='answer-<%= answer.id %>'>Downvote</button>
						<% else %>
							<button class='btn waves-effect upvoteAnswer' style="float: right; background-color: #0097a7" id='answer-<%= answer.id %>'>Upvote</button>
						<% end %>

						<% else %>
							<span class="new badge" data-badge-caption="" style="float: right; margin-top: 0px;"><%= answer.upvotes.count %> Upvotes</span>
						<% end %>
					</div>
					<div class="divider"></div>
				</div>
			<% end %>
		<% else %>
			<h4 style="text-align: center; color: #d1d1d1; margin: 100px 0px;">No Answer to this question yet</h4>
		<% end %>
	</div>

	<div class="col s12 m4 l4">

		<div class="card" style="overflow: auto; min-height: 300px; max-height: 700px;">
			<div class="text-center">
				<h5>Comments</h5>
			</div>
			<% if current_user %>
				<div class="row">
				  	<div class="input-field col s9">
					  	<textarea placeholder="Add a comment" id="commentForm" class="material-textarea"></textarea>
					</div>
					<div id="commentStatus"></div>
					<div class="col s3" style="margin-top: 4em;">
						<button style="background-color: #0097a7;" class="btn" id="commentButton"><i class="material-icons">send</i></button>
					</div>	
				</div>		
			<% end %>

			<div id="commentSection">
				<% if @comments.any? %>
					<% @comments.each do |comment| %>
						<div class="comment">
							<div class="row">
								<div class="col s12">
									<% if current_user and current_user.id == comment.user_id %>
										<b><%= "You" %></b>
									<% else %>
										<b><%= link_to User.find(comment.user_id).name, users_path(User.find(comment.user_id).nickname) %></b>
										<i>(<%= User.find(comment.user_id).nickname%>)</i>
									<% end %>
									<b style="float: right;"><%= comment.created_at.strftime('%H:%M, %b %d') %></b>
								</div>
								<div class="col s12">
									<p style="word-wrap: break-word;"> <%= comment.body %> </p>
								</div>
							</div>
							<div class="divider"></div>
						</div>
					<% end %>
				<% else %>
					<h5 style="text-align: center; color: #d1d1d1;" id='no-comment-message'>No Comments yet</h5>
				<% end %>
			</div>
		</div>
	</div>
</div>
