<% content_for :heading do %>
	askREC > <%= @tag %>
<% end %>

<div class="container-fluid">

<p id="notice"><%= notice %></p>

<br></div>
<div class="container2" style="height: 100%;">
  <table class="highlight" style="width:100%">
    <thead>
      <tr>
      <th>Title</th>
      <th style="text-align: center;"><%= sortable "Answers" %></th>
      <th style="text-align: center;"><%= sortable "Follows" %></th>
      </tr>
    </thead>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title.truncate(75), question_path(question) %></td>
        <td style="text-align: center;"><%= question.answer_count %></td> 
        <td style="text-align: center;"><%= question.follow_count %></td>
      </tr>
    <% end %>
  </table>
</div>
