<div class="container-fluid">

<h4><%= @user.nickname %></h4>


<% if @verified_posts.any? %>
<h4>Your Verified Articles</h4>
<% @verified_posts.each do |post| %>
	<h5><%= link_to post.title, post_path(post) %></h5>
	<h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
<% end %>
<% end %>


<% if @pending_posts.any? %>
<h4>Your Pending Articles</h4>
<% @pending_posts.each do |post| %>
	<h5><%= post.title %></h5>
	<h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
<% end %>
<% end %>


<% if @questions.any? %>
<h4>Your Questions</h4>
<% @questions.each do |question| %>
	<h5><%= link_to question.title, question_path(question) %></h5>
<% end %>
<% end %>

</div>
