<% content_for :heading do %>
	RECursion
<% end %>

<style>
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

</style>

<div class="container2" style="min-height: 100%;">
	<div class="row">
		<div class="col s12 hide-on-med-and-up center" style="padding: 20px;">
			<%= image_tag(User.find(@user.id).image_url, size: '150x150', class:'circle', alt: 'Picture Loading')%>
			<h4><%= @user.nickname %></h4>
			<h6><i>Name:</i> <%= @user.name %></h6>
			<h6><i>Studies at: </i><%= @user.college %></h6>
			<h6><i>Specialization:</i> <%= @user.dept %></h6>
			<h6><i>Reputation:</i> <%= @rep %></h6>
			<br>
			<% if @followed_question_ids.any? %>
			<h6><a href="#qfollow"><em>Followed Questions</em></a></h6>
			<% end %>
			<% if @user.questions.any? %>
			<h6><a href="#qposted"><em>Posted Questions</em></a></h6>
			<% end %>
			<% if @answered_question_ids.any? %>
			<h6><a href="#qanswered"><em>Answered Questions</em></a></h6>
			<% end %>

		</div>
		<div class="col m3 hide-on-small-and-down">
			<div class="sidenav" style="position: fixed">
				<%= image_tag(User.find(@user.id).image_url, size: '135x135', class:'circle', alt: 'Picture Loading')%>
				<h4><%= @user.nickname %></h4>
				<h6><i>Name:</i> <%= @user.name %></h6>
				<h6><i>Studies at: </i><%= @user.college %></h6>
				<h6><i>Specialization:</i> <%= @user.dept %></h6>
				<h6><i>Reputation:</i> <%= @rep %></h6>
				<% if current_user && current_user == @user && (current_user.college.blank? || current_user.dept.blank? || current_user.name.blank? ) %>
				<%= link_to 'Update', profile_update_path, class: "waves-effect waves-light btn", style: "background-color: #0097a7" %>
				<% end %>
				<br /><br />
				<% if @followed_question_ids.any? %>
				<h6><a href="#qfollow"><em>Followed Questions</em></a></h6>
				<% end %>
				<% if @user.questions.any? %>
				<h6><a href="#qposted"><em>Posted Questions</em></a></h6>
				<% end %>
				<% if @answered_question_ids.any? %>
				<h6><a href="#qanswered"><em>Answered Questions</em></a></h6>
				<% end %>
			</div>
		</div>
		<div class="col s12 m7" style="padding: 10px">

			<% if @followed_question_ids.empty? and @answered_question_ids.empty? and @user.questions.empty? %>
				<h5 style="margin-top:40px"><i>No Activity so far</i></h5>
			<% end %>

			<div id="qfollow" class="section scrollspy">
				<% if @followed_question_ids.any? %>
					<h5 class="center">Questions followed by <%if current_user==@user %>you<%else%><%=@user.nickname%><%end%></h5><hr>
					<% @followed_question_ids.each do |q_id| %>
						<%= link_to question_path(q_id) do %>
						<table class="highlight">
							<td>
								<h6><%= Question.find(q_id).title %>
								<span style="float: right;"><small><%= Question.find(q_id).answers.count %> Answers</small></span></h6>
							</td>
						</table>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div id="qposted" class="section scrollspy">
				<% if @user.questions.any? %>
					<h5 class="center">Questions posted by <%if current_user==@user %>you<%else%><%=@user.nickname%><%end%></h5><hr>
					<% @user.questions.each do |question| %>
						<%= link_to question_path(question) do %>
						<table class="highlight">
							<td>
								<h6><%= question.title %>
								<span style="float: right;"><small><%= question.follows.count %> Followers | <%= question.answers.count %> Answers</small></span></h6>
							</td>
						</table>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div id="qanswered" class="section scrollspy">
				<% if @answered_question_ids.any? %>
					<h5 class="center">Questions answered by <%if current_user==@user %>you<%else%><%=@user.nickname%><%end%></h5><hr>
					<% @answered_question_ids.each do |q_id| %>
						<%= link_to question_path(q_id[0]) do %>
							<table class="highlight">
							<td>
								<h6><%= Question.find(q_id[0]).title %>
								<span style="float: right;"><small><%= Answer.find(q_id[1]).upvotes.count %> Upvotes</small></span></h6>
							</td>
							</table>
						<% end %>
					<% end %>
				<% end %>
			</div>

		</div>
		<div class="col s12 m2 hide-on-small-and-down">
	       <div class="sidenav search_wrapper" style="position: fixed">
				<input id="search" placeholder="Enter username">
				<div class="search_results">
				</div>
	      </div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.scrollspy').scrollSpy();
	});
</script>