<% content_for :heading do %>
	RECursion
<% end %>

<div class="container2">
	<div class="row">
		<div class="col s12 m3">
			<div class="sidenav">
				<%= image_tag(User.find(@user.id).image_url, size: '150x150', class:'circle',)%>
				<h4><%= @user.nickname %></h4>
				<h6><i>Name:</i> <%= @user.name %></h6>
				<h6><i>Studies at: </i><%= @user.college %></h6>
				<h6><i>Specialization:</i> <%= @user.dept %></h6>
				<h6><i>Reputation:</i> <%= @rep %></h6>
				<hr \>
				<h6><a href="#qfollow"><em>Questions Following</em></a></h6>
				<h6><a href="#qposted"><em>Questions Posted</em></a></h6>
				<h6><a href="#qanswered"><em>Questions Answered</em></a></h6>
			</div>
		</div>
		<div class="col s12 m9">
			<div id="qfollow">
				<h5>Questions Following</h5><hr>
				<% @followed_question_ids.each do |q_id| %>
					<table class="highlight">
					<td><h6><%= link_to Question.find(q_id).title, question_path(q_id) %></h6></td>
					</table>
				<% end %>
			</div>

			<div id="qposted">
				<h5>Questions Posted</h5><hr>
				<% @user.questions.each do |question| %>
					<table class="highlight">
					<td><h6><%= link_to question.title, question_path(question) %></h6></td>
					</table>
				<% end %>
			</div>

			<div id="qanswered">
				<h5>Questions Answered</h5><hr>
				<% @answered_question_ids.each do |q_id| %>
					<table class="highlight">
					<td><h6><%= link_to Question.find(q_id).title, question_path(q_id) %></h6></td>
					</table>
				<% end %>
			</div>

		</div>
	</div>
</div>
