<% content_for :heading do %>
  RECursion
<% end %>

          <div class="container" style="min-height: 100%;">
            <div class="vr">
              <div class="update-profile">
                <h1>{</h1><h2>{</h2><h3>{</h3>
                <img><%= image_tag(User.find(current_user.id).image_url, size: '100x100', class:'circle', alt:current_user.nickname)%></img>
                <h3>}</h3><h2>}</h2><h1>}</h1><br><br><br>
                <p>RECursion</p><hr>
              </div>
              <div class="container2">
                <h5 style="padding-top: 3vh;">Update Your Profile</h5>
                <h7 class="text-darken-1"><em>Note: Choose a unique username to get your profile ready.</em></h7>
                <div class="row" style="padding-top: 3vh;">
                  <%= form_tag("/users/update_profile", method: "post") do %>
                  <div class="col s12 m6">
                    <%if @user.first[:nickname].nil? || @user.first[:nickname].blank?%>
                    <div class="input-field">
                      <label class="control-label" id="status">Username</label>
                      <input type="text" name="nickname" id="nickname" class="form-control" autocomplete="off">
                    </div>
                    
                    <%else%>
                    <div class="input-field">
                      <label class="control-label"> Username</label>
                      <input type="text" name="nickname" class="form-control" value="<%=@user.first[:nickname]%>" disabled/>
                    </div>
                    <%end%>
                  </div>
                  <div class="col s12 m6">
                    <div class="input-field">
                      <label class="control-label"> Name </label>
                      <input type="text" name="name" class="form-control" value="<%=@user.first[:name]%>"  autocomplete="off" />
                    </div>
                  </div>
                  <div class="col s12 m6">
                    <div class="input-field">
                      <label class="control-label"> Institition </label>
                      <input type="text" name="college" class="form-control" value="<%=@user.first[:college]%>" />
                    </div>
                  </div>
<div class="input-field col s12 m6">
    <select name="dept">
      <option value="" disabled selected><%= @user.first[:dept] %></option>
      <option value="CSE">CSE</option>
      <option value="ECE">ECE</option>
      <option value="IT">IT</option>
      <option value="MECH">MECH</option>
      <option value="ELECTRICAL">EE</option>
      <option value="CIVIL">CE</option>
      <option value="META">MME</option>
      <option value="MTECH">MTECH</option>
      <option value="MCA">MCA</option>
      <option value="OTHER">Other</option>      
    </select>
    <label>Specialization</label>
  </div>

                  <span style="float: right; padding-top: 3.5vh;"><%=submit_tag "Update",class: "btn btn-success"%></span>
                  <%end%>
                </div>
              </div>
            </div>
          </div>

      <script>
        $(document).ready(function() {
          $('select').material_select();
          $(".caret").hide()
        });
      </script>