<% content_for :heading do %>
  RECursion
<% end %>

          <div class="container" style="min-height: 100%;">

            <div class="row">
              <%= form_tag("/users/update_profile", method: "post") do %>
              <div class="col s12 m6 offset-m3 l6 offset-l3">
                <div class="card" style="padding: 20px;">            
                  <%if @user.first[:nickname].nil? || @user.first[:nickname].blank?%>
                  <div class="input-field">
                    <label class="control-label"> Nickname</label>
                    <input type="text" name="nickname" id="nickname" class="form-control">
                  </div>
                  <span id="status"></span>
                  <%else%>
                  <div class="input-field">
                    <label class="control-label"> Nickname</label>
                    <input type="text" name="nickname" class="form-control" value="<%=@user.first[:nickname]%>" disabled/>
                  </div>
                  <%end%>
              
                  <div class="input-field">
                    <label class="control-label"> Name </label>
                    <input type="text" name="name" class="form-control" value="<%=@user.first[:name]%>" />
                  </div>
              
                  <div class="input-field">
                    <label class="control-label"> Institition </label>
                    <input type="text" name="college" class="form-control" value="<%=@user.first[:college]%>" />
                  </div>

                  <div class="input-field">
                    <label class="control-label"> Specialisation/Department </label>
                    <input type="text" name="college" class="form-control" value="<%=@user.first[:dept]%>" />
                  </div>
              
                  <div class="input-field">
                    <label class="control-label"> Date Of Birth </label>
                    <input type="date" name="dateofbirth" class="datepicker" value="<%=@user.first[:dob]%>" />
                  </div>

                    <%=submit_tag "Update",class: "btn btn-success"%>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        