          <div class="container">
            <div class="row">
              <%= form_tag("/users/update_profile", method: "post") do %>
              <div class="col-sm-4">
                <%if @user.first[:nickname].nil? || @user.first[:nickname].blank?%>
                <div class="input-field">
                  <label class="control-label"> Nickname</label>
                  <input type="text" name="nickname" id="nickname" class="form-control">
                </div>
                <span id="status"></span>
                <%else%>
                <div class="input-field">
                  <label class="control-label"> Nickname</label>
                  <input type="text" name="nickname" class="form-control" value="<%=@user.first[:nickname]%>" disabled/>
                </div>
                <%end%>
              </div>
            </div>
            <div class="row">
              <div class=" col-sm-4">
                <div class="input-field">
                  <label class="control-label"> Name </label>
                  <input type="text" name="name" class="form-control" value="<%=@user.first[:name]%>" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="input-field">
                  <label class="control-label"> Institition </label>
                  <input type="text" name="college" class="form-control" value="<%=@user.first[:college]%>" />
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-4">
                  <%=submit_tag "Update",class: " btn btn-success"%>
                </div>
              </div>
              <% end %>
            </div>
