
<div class="container" style="height: 100%">

<p id="notice"><%= notice %></p>

  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @posts.each do |post| %>

      <div class="col s12 m6">
        <div class="card">
          <div class="text-center">
              <h2><%= post.title %></h2>
              <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
          </div>  
          <div class="card-content">
            <p><%= post.description.html_safe.truncate(358) %></p>

            <div class="text-center">
              <%= link_to "READ MORE", post_path(post), class: 'waves-effect waves-light btn' %>
            </div>
          </div>
        </div>
      </div>

    <% end %>


<%= will_paginate @posts %>

  </div>

</div>
