<% content_for :heading do %>
	AskREC
<% end %>
<div class="container-fluid" style="min-height: 100%; padding-top: 25px;">
<div class="right">
  <a href='/askrec/questions/new' class="waves-effect waves-light btn" style="background-color: #0097a7">Ask a Question</a> 
</div>
<br /><br /><br />

  <div class="row">
    <div class="col s12 m10 offset-m1 l3 push-l9">
      <div class="search_wrapper">
        <input id="search" placeholder="Search for Tags">
        <div class="search_results"></div>
      </div>
      <div class="card">
        <div class="container2" style="padding-top: 5px; padding-bottom: 10px">
          <div class="text-center" style="padding-top: 10px;"><h5>Popular Tags</h5><hr></div>
          <p style="word-wrap: break-word; margin: 0px;">
          <% @tags.each do |tag| %>
          <h6><a href='/askrec/questions/tags/<%= tag.name %>' ><%= tag.name %></a>
          <span class="new badge" data-badge-caption="" style="float: right;" ><%= tag.questions.count %></span></p>
          </h6>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col s12 m10 offset-m1 l9 pull-l3">
      <div class="container-fluid">
        <table class="highlight" style="width:100%">
          <thead>
            <tr>
            <th>Title</th>
            <th style="text-align: center;"><%= 'Posted by' %></th>
            <th style="text-align: center;">Category</th>
            <th style="text-align: center;"><%= sortable "Answers" %></th>
            <th style="text-align: center;"><%= sortable "Follows" %></th>
            <th style="text-align: center;"><%= sortable "Date", "Posted On" %></th>
            </tr>
          </thead>
        <% @questions.each do |question| %>
          <tr>
            <td ><%= link_to question.title.truncate(75), question_path(question) %></td>
            <% if User.find(question.user_id).nickname.blank? %>
            <td style="text-align: center"><%= "User" %>
            <% else %>
            <td style="text-align: center;"><%= link_to link_to image_tag(User.find(question.user_id).image_url, size: "40x40", class: 'circle', alt: User.find(question.user_id).nickname), users_path(User.find(question.user_id).nickname) %></td>
            <% end %>
            <td style="text-align: center;">
              <% if !question.tags[0].nil? %><span class="new badge" data-badge-caption=""><a href='/askrec/questions/tags/<%= question.tags[0].name %>' ><%= question.tags[0].name %></a></span><% end %>
              <% if !question.tags[1].nil? %><span class="new badge" data-badge-caption=""><a href='/askrec/questions/tags/<%= question.tags[1].name %>' ><%= question.tags[1].name %></a></span><% end %>
            </td>
            <td style="text-align: center;"><%= question.answer_count %></td> 
            <td style="text-align: center;"><%= question.follow_count %></td>
            <td style="text-align: center;"><%= question.created_at.strftime('%b %d') %></td>
          </tr>
        <% end %>
        </table>
        <%= will_paginate @questions %>
      </div>
    </div>
  </div>
</div>
