<% content_for :heading do %>
	askREC
<% end %>

<div class="container-fluid">

<p id="notice"><%= notice %></p>
<div class="col s6 offset-s2">
<div class="search_wrapper">
  <input id="search" placeholder="Search for Tags">
  <div class="search_results"></div>
</div>
</div>
<br></div>
<div class="container2" style="height: 100%;">
  <table class="highlight" style="width:100%">
    <thead>
      <tr>
      <th>Title</th>
      <th style="text-align: center;"><%= sortable "Answers" %></th>
      <th style="text-align: center;"><%= sortable "Follows" %></th>
      </tr>
    </thead>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title.truncate(75), question_path(question) %></td>
        <td style="text-align: center;"><%= question.answer_count %></td> 
        <td style="text-align: center;"><%= question.follow_count %></td>
      </tr>
    <% end %>
  </table>
</div>



<script>
  
$(document).ready(function(){

    $("#search").keyup(function(){
      keyword = $(this).val();

      if( keyword.length < 1 || /^[\s]*$/.test(keyword) == true){
        $('.search_results').html("");
        return;
      }

      $.ajax({
        type: "POST",
        url: "/find_questions",
        data: {"keyword": keyword},
        success: function(result){
          var newHTML = [];
          for (var i = 0; i < result.tags.length; i++) {
            newHTML.push('<h6><a href="/askrec/questions/tags/' + result.tags[i][0] + '">' + result.tags[i][0] + '</a><span class="new badge" data-badge-caption="">' + result.tags[i][1] + '</span></h6><br />');
          }
          $('.search_results').html(newHTML);
        },
      });
    });

});

</script>
