<% content_for :heading do %>
	RECblog
<% end %>

<div class="row">

<p id="notice"><%= notice %></p>

<p>
  <h3><%= @post.title %></h3>
  <div class="post_id" id='<%= @post.id %>'></div>

  <div class='likes_count'><%= @post.likes.count %></div>

	<div id='like_unlike'>
		<% if current_user && current_user.already_liked(@post) %>
		<a href='#' class='unlike_post'><i class="material-icons">mood_bad</i></a>
		<a href='#' class='like_post' hidden><i class="material-icons">mood</i></a>
		<% else %>
		<a href='#' class='unlike_post' hidden><i class="material-icons">mood_bad</i></a>
		<a href='#' class='like_post'><i class="material-icons">mood</i></a>
		<% end %>

	</div>

  <%= @post.description.html_safe %>
</p>

</div>


<script>

$(document).ready(function(){
	$(".like_post").click(function() {
		event.preventDefault();
		var id = $(".post_id").attr("id");
	 	var count = parseInt($(".likes_count").text());
	 	count++;
	 	// Disable Like Button

	 	$.ajax({
	 		type: 'GET',
	 		url: '/recblog/posts/'+id+'/like',
	 		dataType: "json",
	 		success: function(){
				console.log('Ho Gya');
				$(".likes_count").html(count);
				$(".like_post").hide();
				$(".unlike_post").show().fadeIn("fast");
			},
	 		error: function(){
	 			alert("Failure!");
	 		}
	 	})


	});


	$('.unlike_post').click(function() {
		event.preventDefault();
		var id = $(".post_id").attr("id");
	 	var count = parseInt($(".likes_count").text());
	 	count--;
	 	// Disable Unlike Button

	 	$.ajax({
	 		type: 'GET',
	 		url: '/recblog/posts/'+id+'/unlike',
	 		dataType: "json",
	 		success: function(){
				console.log('Ho Gya');
				$(".likes_count").html(count);
				$(".like_post").show().fadeIn("fast");
				$(".unlike_post").hide();

			},
	 		error: function(){
	 			alert("Failure!");
	 		}
	 	})

	});


});

</script>
