<!DOCTYPE html>
<html>
  <head>  
    <title>RECursion</title>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1" />
    <meta name="description" content="This is the official site of RECursion, the Programming Club of NIT Durgapur. Sign Up and be a part of the movement. Cheers!!">
    <meta property="og:title" content="RECursion" />
    <meta property="og:url" content="https://www.recursionnitd.in" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag 'log.png' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
   
  <body>
  <header>
    <div class="navbar-fixed">
      <nav class="cyan darken-2">
        <div class="nav-wrapper">
          <span class="brand-logo" style="margin-left: 20px;"><%= yield :heading %></span>
          <ul class="right hide-on-med-and-down">
            <% if current_user && @forum_page %>
            <li><a class="tooltipped" href="/askrec/questions/new" data-tooltip="Ask a question"><i class="material-icons">create</i></a></li>
            <% elsif @forum_page %>
            <li><a class="modal-trigger tooltipped" data-toggle="modal" data-tooltip="Ask a question" href="#modal1"><i class="material-icons">create</i></a></li>
            <% end %>

            <% if current_user and current_user.admin? %>
            <li><a class="tooltipped" href="/sapphire" data-tooltip="Admin" target="_blank"><i class="material-icons">person_outline</i></a></li>
            <% end %>
            <li class="<%= " active" if @home_page%>"><a class="tooltipped" href="/" data-tooltip="Home"><i class="material-icons">home</i></a></li>
            <li class="<%= " active" if @events_page%>"><a class="tooltipped" href="/events" data-tooltip="Events"><i class="material-icons">event</i></a></li>
            <li class="<%= " active" if @forum_page%>"><a class="tooltipped" href="/askrec" data-tooltip="AskREC"><i class="material-icons">forum</i></a></li>
            <li class="<%= " active" if @get_started_page%>"><a class="tooltipped" href="/getstarted" data-tooltip="Getting Started"><i class="material-icons">flight_takeoff</i></a></li>
            <% if current_user %>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag(User.find(current_user.id).image_url, size: '40x40', class:'circle', alt:current_user.nickname)%><i class="material-icons right">arrow_drop_down</i></a></li>
            <% else %>
               <li><a class="modal-trigger" data-toggle="modal" href="#modal1" ><i class="material-icons">vpn_key</i></a></li>
            <% end %>
            </li>
          </ul>
          <ul id="slide-out" class="side-nav">
            <% if current_user && @forum_page %>
            <li><a href="/askrec/questions/new"><i class="material-icons">create</i>Ask a Question</a></li>
            <% elsif @forum_page %>
            <li><a class="modal-trigger" data-toggle="modal" href="#modal1" ><i class="material-icons">create</i>Ask a Question</a></li>
            <% end %>

            <% if current_user and current_user.admin? %>
            <li><a href="/sapphire" target="_blank"><i class="material-icons">person_outline</i>Admin</a></li>
            <% end %>
            <li class="<%= " active" if @home_page%>"><a href="/"><i class="material-icons">home</i>Home</a></li>
            <li class="<%= " active" if @events_page%>"><a href="/events"><i class="material-icons">event</i>Events</a></li>
            <li class="<%= " active" if @forum_page%>"><a href="/askrec"><i class="material-icons">forum</i>AskREC</a></li>
            <li class="<%= " active" if @get_started_page%>"><a href="/getstarted"><i class="material-icons">flight_takeoff</i>Getting Started</a></li>
            <% if current_user %>
                <% if current_user.nickname.nil? %>
                <li class="<%= " active" if @profile_page%>"><a href="/users/update_profile"><img><%= image_tag(User.find(current_user.id).image_url, size: '30x30', class:'circle', alt:current_user.nickname)%></img> Update</a></li>
                <% else %>
                <li class="<%= " active" if @profile_page%>"><a href="/users/profile/<%= current_user.nickname %>"><%= image_tag(User.find(current_user.id).image_url, size: '30x30', class:'circle', alt:current_user.nickname)%>Profile</a></li>
                <% end %>
                <li>
                 <%= link_to 'Signout', sign_out_path, method: :delete %>
               </li>
              <% else %>
                <li><a class="modal-trigger" data-toggle="modal" href="#modal1" ><i class="material-icons">vpn_key</i>Login</a></li>
            <% end %>
            </li>
          </ul>
          <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
      <% if current_user %>
      <ul id="dropdown1" class="dropdown-content">
          <% if current_user.nickname.nil? %>
          <li class="<%= " active" if @profile_page%>"><a href="/users/update_profile">Update</a></li>  
          <% else %>
          <li class="<%= " active" if @profile_page%>"><a href="/users/profile/<%= current_user.nickname %>">Profile</a></li>
          <% end %>
          <li>                
           <%= link_to 'Signout', sign_out_path, method: :delete %>
         </li>
      </ul>
      <% end %>
    </div>
  </header>

<%= render 'layouts/alerts' %>
  <!-- Modal Structure -->
<div id="modal1" class="modal card">
    <div class="row" style="padding-top: 10 10 10 0; margin-bottom: 0px">
      
        <div class="col s6 m6">
        <div class="text center">
           <img style="width:100%; margin-top: 2em" src="../icons/log.png">
        </div>
        </div>

        <div class="col s6 m6">

          <ul id="social_button">
            
            <li>
            <a href='/auth/google_oauth2' class="waves-effect waves-light btn red tooltipped" data-tooltip="Google" data-position="right" style="width: 5em; background-color: #dd4b39 !important">
              <i class="fa fa-google-plus"></i>
            </a>
            </li>
            <br />
            <li>
            <a href='/auth/github' class="waves-effect waves-light btn tooltipped" data-tooltip="Github" data-position="right" style="width: 5em; background-color: #444444 !important">
              <i class="fa fa-github"></i>
            </a>
            </li>
            <br />
            <li>
            <a href='/auth/facebook' class="waves-effect waves-light btn tooltipped" data-tooltip="Facebook" data-position="right" style="width: 5em; background-color: #3b5998 !important">
              <i class="fa fa-facebook"></i>
            </a>
            </li>
            <br />
          </ul>
        </div>

    </div>
    <h6 class="center"><i>Sign in and contribute to ASKRecursion</i></h6>
</div>

  <div class="row" style="height:100%;">

    <%= yield %>

    <footer class="page-footer cyan darken-2 ">
      <div class="container">
        <span class="wow bounceInUp" data-wow-delay="1.5s" >Designed by RECursion | 2017</span>
      </div>
    </footer>

  </div>
  
    <style>
      #gritter-notice-wrapper{
        top: 70px;
      }
    </style>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
        $('.modal-trigger').modal();
        $('.modal-trigger').click(function(){
          event.preventDefault();
          $('.modal').modal('open');      
        });
      })

      $.extend($.gritter.options, { 
          time: 1000
      });

      $("#gritter").css('top',"120px");
    </script>
    <%= render 'layouts/scripts' %>

  </body>

</html>
